<div class="mx-auto">
  <h3 class="text-center"><i class="fa fa-address-card mr-1" aria-hidden="true"></i>Registro</h3>
</div>
<div class="mx-auto text-center col-4 p-3 border">
  <h5 class="text-success">Importe total</h5>
  <h4 class="text-primary">{{#if result}}{{#each result as |item|}}${{item.box}}{{/each}}{{else}} $0{{/if}}</h4>
</div>
   <table class="table col-11 mx-auto mt-3">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Usuario</th>
            <th scope="col">Tipo</th>
            <th scope="col">Ocupó</th>
            <th scope="col">Fecha y Hora</th>
            <th scope="col" class="text-center">Importe</th>
            <th scope="col" class="text-center">Editar</th>
            <th scope="col" class="text-center">Borrar</th>
          </tr>

         
        </thead>
        <tbody>

          {{#each historial}}
          <tr>
          <th scope="row">{{user}}</th>
          <th scope="row">{{type}}</th>
          <th scope="row">{{action}}</th>
          <th scope="row">{{fecha}}  {{hora}}</th>
          <th scope="row" class="text-center">${{box}}</th>
          <td><a class="btn btn-primary col-12 mx-auto" href="/historial/edit/{{_id}}">Editar</a></td>
          <td>
            <form action="/historial/delete/{{_id}}" method="POST" onsubmit="return confirm('Desea eliminar este recibo de la caja?');">
            <button type="submit" class="btn btn-danger col-12 mx-auto">Borrar</button>
            </form>
          </td>
          {{/each}}
         
          </tr>
          
        </tbody>
      </table>

  

     

    