<!--Registro Mensual-->
<nav class="nav nav-bar">
  <a href="/clients" class=" text-primary ml-5 btn-block mt-2"><h4><i class="fa fa-arrow-left mr-1" aria-hidden="true"></i>Volver al Menu</h4></a>
</nav>


<div class="container mx-auto mt-3">
  <div class="col-6 mx-auto border">
     <h3 class="text-center mt-3"><i class="fa fa-archive mr-1" aria-hidden="true"></i>Registro Anual</h3>
    <h4 class="text-success text-center">Importe total</h4>
  <h4 class="text-primary text-center">{{#if result}}{{#each result as |item|}}${{item.total}}{{/each}}{{else}} $0{{/if}}</h4>
  <!--Cantidad C y L-->
  <hr>
  <div class="form-row mx-auto">
    <div class="col-6 ">
  <h5 class="text-success text-center">Lavados : 26</h5>
  </div>
   <div class="col-6">
  <h5 class="text-success text-center">Cocheras : 30</h5>
  </div>
  </div>
  <hr>
     
<<<<<<< HEAD
      
     <form action="/close-month" method="post" onsubmit="return confirm('¿Desea cerrar el mes?');">
     <input type="hidden" id="month" name="fecha">
=======
       <h3 class="text-center mt-3"><i class="fa fa-archive mr-1" aria-hidden="true"></i>Registro Diario</h3>
     <form action="/close-year" method="post" onsubmit="return confirm('¿Desea cerrar el mes?');">
     <input type="hidden" id="year" name="fecha">
>>>>>>> 0319e960316c0a8932775a22345cab6c9bb1f881
     <input type="hidden" name="total" {{#each result as |item|}} value="{{item.total}}"{{/each}}>
     <div class="mx-auto col-md-4">
     <button type="submit" class="btn btn-primary btn-block mt-3 mb-3 "> Cerrar Año </button>
     </div>
  </form>
  </div>
</div>

<div class="container col-10 mx-auto">
<table class="table col-11 mx-auto mt-3">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Fecha</th>
            <th scope="col" class="text-center">Caja Diaria</th>    
          </tr>

         
        </thead>
        <tbody>

          {{#each historial}}
          <tr>
          <th scope="row">{{fecha}}</th>
          <th scope="row" class="text-center">$ {{total}}</th>
          </tr>
          {{/each}}
          
        </tbody>
      </table>
</div>


    <script src="/js/today_month_year.js"></script>