    <link rel="stylesheet" href="/css/style_menu.css">

<<<<<<< HEAD

        <div class="text-center mx-auto col-12 form-row" >
            <h2 class="col-12">Proclean</h2>
            <h4 class="col-12">Un tratamiento diferente para tu auto</h4>
            <div class=" mx-auto mb-2"><img src="/img/audi.jpg" class=" img-fluid"></div>
=======
        <div class="text-center mx-auto col-12" style="height: 60vh;">
            <h2>Proclean</h2>
            <h4>Un tratamiento diferente para tu auto</h4>
>>>>>>> 45200e2320667d760c73786b21dc7a1dc3f11c64
            </div>
            
       
        <div class="col-md-12 form-row mx-auto ">
          
    
        <!--Buscar Cliente-->
       <div class="mx-auto col-md-6 row justify-content-center mt-4" style="height: 20%;">
        <a href="#ventana1" class="btn btn-success btn-block" type="submit" data-toggle="modal" style="height: 100%;" > <i class="fa fa-search  fa-5x" style="height: 100px;" aria-hidden="true"></i><h3>Buscar Cliente</h3></a>
        
    
        <div>
            <div class="modal fade" tabindex="-1" role="dialog" id="ventana1">
            <div class="modal-dialog" role="document" style="display: contents; width: max-content;">
            <div class="modal-content mx-auto mt-5 w-50">
                
                <!--Formulario busqueda-->
    
            <div>
                <div class="row mb-3 ">
                <div class="col-12 mx-auto text-center">
             
                    <div class="row">
                        <div class="col-md-12 mx-auto text-center">
                            <div class="card">
                                <div class="card-header">
                <h1>Buscar Cliente</h1>
            </div>
            <div class="card-body">
                <div class="ml-3 mr-3">
                <form action="/clients/find-client" method="post">
                <div class="form-group mb-3">
                    
                <input list="tpatente" class="form-control text-center" name="patente"  autocomplete="off" />
                <datalist id="tpatente">
                 {{#each clients}}
                <option value="{{patente}}">
                {{/each}}
                </datalist>
                </div>
                <div class="form-group">
                <button type="submit" id="entrar2" class="btn btn-success mx-auto btn-lg btn-block" >Buscar</button>
                </div>           
                </form>
                </div>   
                </div>
                </div>
                </div>
                </div>
                </div>
                </div>
                </div>
            <div class="mb-3 mx-auto">
            <button type="button" class="btn btn-secondary mx-auto btn-lg" data-dismiss="modal">Cancelar</button>
            </div>
            </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
            </div>
            </div><!--div que cierra el boton de busqueda-->

    
        <!--Registrar Cliente-->
       <div class="mx-auto col-md-6 row justify-content-center mt-4" style="height: 20%;">
        <a href="#ventana2" class="btn btn-success btn-block" type="submit" data-toggle="modal" style="height: 100%;" ><i class="fa fa-user-circle-o fa-5x" style="height: 100px;" ></i><h3>Nuevo Cliente</h3> </i></a>
        </div>
    
        <div>
            <div class="modal fade" tabindex="-1" role="dialog" id="ventana2">
            <div class="modal-dialog" role="document" style="display: contents; width: max-content;">
            <div class="modal-content mx-auto mt-5 w-50">
                <!-- Formulario registro-->
            <div style="display: contents; width: max-content;">
                <div class="row">
                    <div class="col-md-12 mx-auto text-center">
                        <div class="card">
                            <div class="card-header">
                                <h1>Registrar Cliente</h1>
                            </div>
                            <div class="card-body">
                                <form action="/clients/new-client" method="POST">
                                <div class="form-group text-left">
                                <label for="patente">Patente</label>
                                <input type="text" name="patente" class="form-control text-center" placeholder="Patente" value="{{client}}"  onkeyup="javascript:this.value=this.value.toUpperCase();" autocomplete="off">
                                </div>
                                <div class="form-group  text-left">
                                <label for="patente">Marca</label>
                                <input type="text" name="marca" class="form-control text-center" placeholder="Marca" value="{{username}}">
                                </div>
                
                                <div class="form-group  text-left">
                                    <label for="patente">Modelo</label>
                                <input type="text" name="modelo" class="form-control text-center" placeholder="Modelo" value="{{email}}">
                                </div>
                
                                <div class="form-group  text-left">
                                    <label for="patente">Telefono</label>
                                <input type="tel" name="phone" class="form-control text-center" placeholder="Telefono" value="{{phone}}" autocomplete="off">
                                </div>
    
                                <div class="form-group text-left">
                                     <label for="patente">Tipo</label>
                                    <select class="form-control text-center mx-auto" name="tipo">
                                    <option value="Auto">Auto</option>
                                    <option value="Camioneta">Camioneta</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-success btn-block btn-lg">Registrar Cliente</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary mx-auto btn-lg" data-dismiss="modal">Cancelar</button>
            </div>
            </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
        </div>


        <!--Caja-->
        <div class="mx-auto col-md-6 row justify-content-center mt-4 " style="height: 20%;">
        <a href="#ventana7" class="btn btn-success btn-block" type="submit" data-toggle="modal" style="height: 100%;" ><i class="fa fa-money fa-5x" style="height: 100px;" ></i><h3>Caja</h3> </i></a>
        </div>
        <div>
            <div class="modal fade" tabindex="-1" role="dialog" id="ventana7">
            <div class="modal-dialog" role="document" style="display: contents; width: max-content;">
            <div class="modal-content mx-auto mt-5 w-50">
                <!-- Formulario caja-->
            <div style="display: contents; width: max-content;">
                <div class="row">
                    <div class="col-md-12 mx-auto text-center">
                        <div class="card">
                            <h1>Registro de Caja</h1>
                            <div class="container mx-auto text-center form-group col-md-4"><h1>{{#if box}}{{#each box as |item|}}${{item.box}}{{/each}}{{else}} $0{{/if}}</h1></div>

                            
            </div>
            </div>
            </div>
            </div>
            <div class="modal-footer">
                <form action="/closebox" method="post">
            <button type="submit" class="btn btn-danger btn-lg">Cerrar Caja</button>
            </form>
            <button type="button" class="btn btn-secondary ml-auto btn-lg" data-dismiss="modal">Cancelar</button>
            </div>
            </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
        </div>

               <!--Registro de Cochera-->
       <div class="mx-auto col-md-6 row justify-content-center mb-4 mt-4" style="height: 20%;">
        <a href="/garage" class="btn btn-success btn-block" type="submit"  style="height: 100%;" > <i class="fa fa-book  fa-5x" style="height: 100px;" aria-hidden="true"></i><h3>Registro Cochera</h3></a>
       </div><!--div que cierra el boton de registro-->
       </div><!--div que cierra el contenedor principal-->
        
    
