<div class="form-row ">
    <div class=" col-md-8 mx-auto">
        <form action="/egresar" method="POST">
            <input type="hidden" id="final" name="box">
            <div id="element-to-hide">
                <input type="hidden" name="type" value="{{car.tipo}}">
                <input type="hidden" name="identi" value="{{car._id}}">
                <input type="hidden" id="theDate" name="fecha">
                <input type="hidden" id="thetime1" name="hora">
            </div>
            <div class="form-row">

                <div class="form-group p-3 col-10 mx-auto">
                    <li style="list-style: none;" class="border p-2 form-row ">
                        <div class="col-12">
                            <div class="text-center mx-auto">
                                <h2 class="pt-1 text-center">Atencion Recibida</h2>
                                <hr>
                                <h3 class="text-success ">Cliente</h3>
                                <h2 class="text-primary">{{car.patente}}</h2>
                                <hr>
                            </div>

                            <ul>
                                <label>Media hora</label>
                                <input type="checkbox" id="mhora" value="{{precio.mhora}}" onchange="abc();">
                                <div id="ipmh" style="display: none" class="mr-5"><input type="number" min="0"
                                        class="val1 form-control text-center" id="ipmhora" onkeyup="abc()"
                                        placeholder="Media hora" /></div>
                            </ul>
                            <ul>
                                <label>Hora</label>
                                <input type="checkbox" id="hora" value="{{precio.hora}}" onchange="abc();">
                                <div id="iph" style="display: none" class="mr-5"><input type="text" min="0"
                                        class="val2 form-control text-center" id="iphora" onkeyup="abc()"
                                        placeholder="Hora" /></div>
                            </ul>

                            <ul>
                                <label>Medio dia</label>
                                <input type="checkbox" id="mdia" value="{{precio.mdia}}" onchange="abc()">
                                <div id="ipmd" style="display: none" class="mr-5"><input type="text" min="0"
                                        class="val3 form-control text-center" id="ipmdia" onkeyup="abc()"
                                        placeholder="Medio Dia" /></div>
                            </ul>
                            <ul>
                                <label>Dia</label>
                                <input type="checkbox" id="dia" value="{{precio.dia}}" onchange="abc()">
                                <div id="ipd" style="display: none" class="mr-5"><input type="text" min="0"
                                        class="val4 form-control text-center" id="ipdia" onkeyup="abc()"
                                        placeholder="Dias" /></div>
                            </ul>
                            <ul>
                                <label>Semana</label>
                                <input type="checkbox" id="semana" value="{{precio.semana}}" onchange="abc()">
                                <div id="ips" style="display: none" class="mr-5"><input type="text" min="0"
                                        class="val5 form-control text-center" id="ipsemana" onkeyup="abc()"
                                        placeholder="Semana" /></div>
                            </ul>
                            <ul>
                                <label>Quincena</label>
                                <input type="checkbox" id="quincena" value="{{precio.quincena}}" onchange="abc()">
                                <div id="ipq" style="display: none" class="mr-5"><input type="text" min="0"
                                        class="val6 form-control text-center" id="ipquincena" onkeyup="abc()"
                                        placeholder="Quincena" /></div>
                            </ul>
                            <ul>
                                <label>Mes</label>
                                <input type="checkbox" id="mes" value="{{precio.mes}}" onchange="abc()">
                                <div id="ipm" style="display: none" class="mr-5"><input type="text" min="0"
                                        class="val7 form-control text-center" id="ipmes" onkeyup="abc()"
                                        placeholder="Mes" /></div>
                            </ul>

                        </div>
                    </li>




                    <div class="mx-auto text-center">
                        <label for="final" class="text-primary mt-1">Importe total</label>
                        <br>
                        <input type="text" class="text-center col col-md-12" id="total" disabled>
                    </div>

                    <div class=" text-center form-row mx-auto  mt-3">
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-success btn-block mb-1"><i
                                    class="fa fa-paper-plane mr-1" aria-hidden="true"></i>Enviar</button>
                        </div>
                        <div class="col-md-6 ml-auto">
                            <a href="/garage" type="submit" class="btn btn-warning btn-block mb-1"><i
                                    class="fa fa-times mr-1" aria-hidden="true"></i>Cancelar Egreso</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>



<script src="/js/today_date.js"></script>
<script src="/js/today_time.js"></script>
<script src="/js/importe_cochera.js"></script>