<table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Patente</th>
            <th scope="col">Marca </th>
            <th scope="col">Modelo</th>
            <th scope="col">Entrada</th>
            <th scope="col" class="text-center">Accion</th>
          </tr>
        </thead>
        <tbody>
          {{#each findCars}}
          <tr>
            <th scope="row">{{patente}}</th>
            <td>{{marca}}</td>
            <td>{{modelo}}</td>
            <td>{{fecha}} {{hora}}</td>
            <td><a href="./egreso.hbs" type="submit" class="btn btn-danger btn-block" >Egresar</a></td>
          </tr>
          {{/each}}
        </tbody>
      </table>

      <!--Egreso Cochera -->

    <script src="/js/today_date.js"></script>
    <script src="/js/today_time.js"></script>
    <script src="/js/importe_cochera.js"></script>

    
 