<nav>
  <a href="/clients" class=" text-primary ml-5 btn-block mt-2">
    <h4><i class="fa fa-arrow-left mr-1" aria-hidden="true"></i>Volver al Menu</h4>
  </a>
</nav>


<h2 class="mx-auto text-center"><i class="fa fa-car mr-1 " aria-hidden="true"></i>Cochera</h2>
<table class="table container">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Patente</th>
      <th scope="col">Marca </th>
      <th scope="col">Modelo</th>
      <th scope="col">Tipo</th>
      <th scope="col">Entrada</th>
      <th scope="col" class="text-center">Accion</th>
    </tr>
  </thead>
  <tbody>
    {{#each findCars}}
    <tr>
      <th scope="row">{{patente}}</th>
      <td>{{marca}}</td>
      <td>{{modelo}}</td>
      <td>{{tipo}}</td>
      <td>{{fecha}} {{hora}}</td>
      <td><a href="/egreso/{{_id}}" type="submit" class="btn btn-danger btn-block"><i class="fa fa-sign-out mr-1"
            aria-hidden="true"></i>Egresar</a></td>
    </tr>
    {{/each}}
  </tbody>
</table>

<!--Egreso Cochera -->

<script src="/js/today_date.js"></script>
<script src="/js/today_time.js"></script>
<script src="/js/importe_cochera.js"></script>